<div>
    <div class="row">
      <div class="col-12">
        <ul class="nav d-flex">
          <li class="tab-brand disabled">
            <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/departments/configuration/hahe-units/list']">
              <i class="fa fa-chevron-left pr-1"></i><span [translate]="'HaheUnits.Title'"></span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 [translate]="'HaheUnits.StudyProgramsList.Title'"></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3" [ngVar]="{}" #filter="ngVar">
        <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table">
          <advanced-search>
            <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
          </advanced-search>
        </app-advanced-table-search>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-table-simple-header [table]="table">
          <table-simple-header-tools>
            <div class="btn-group" *ngIf="this.table && this.table.selectable">
              <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="btn btn-outline-indigo btn-lg" type="button"
              (click)="setHaheUnit()" [translate]="'HaheUnits.SetHaheUnit'">
              </button>
              <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" [translate]="'HaheUnits.SetHaheUnit'" (click)="setHaheUnit()"></button>
                <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item" [translate]="'HaheUnits.ClearHaheUnit'" (click)="clearHaheUnit()"></button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
                <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
              </div>
            </div>
          </table-simple-header-tools>
        </app-table-simple-header>

      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-4">
        <app-advanced-table #table
        [multipleSelect]="true"
        [selectable]="true"
        [showFooter]="false"
        (load)="onDataLoad($event)" [height]="600"></app-advanced-table>
      </div>
    </div>
    <router-modal></router-modal>
  </div>
