<!--
<div *ngIf="model">
  <div *ngIf="model.length !=0">
  	<div class="row mt-2" *ngFor="let theses of model;">
    	<div class="col-12">
      	<card-collapsible>
        	<card-header>
          	<span *ngIf="theses.thesis.type" [translate]="'Theses.ThesisType.' + theses.thesis.type.alternateName"></span>
          	<span>&nbsp;</span>
           	-
          	<span *ngIf="theses.thesis.status || theses.thesis.status ===0; else noStatus" [translate]="'Theses.ThesisStatus.' + theses.thesis.status.alternateName"
                	[ngClass]="theses.thesis.status.alternateName === 'completed' ?'text-success':
                           	theses.thesis.status.alternateName === 'cancelled' ?'text-danger':
                           	theses.thesis.status.alternateName === 'paused' ?'text-danger':'text-color-theme'"></span>
          	<span>&nbsp;</span>
          	<ng-template #noStatus><span [translate]="'Theses.ThesisStatus.NoStatus'"></span></ng-template>
          </card-header>
          <card-body>
            <app-theses-preview-form [model]="theses.thesis"></app-theses-preview-form>
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <a href="#/theses/{{theses.thesis?.id}}/dashboard/general" class="btn btn-md text-light bg-primary px-3 float-right">{{ 'Details' | translate }}</a>
              </div>
            </div>
          </card-body>
        </card-collapsible>
      </div>
    </div>
  </div>
  <div *ngIf="model.length == 0">
    <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <p class="card-text"  [translate]="'Theses.NoTheses'"></p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
-->
<div class="row">
  <div class="col-auto mt-4">
    <div class="font-xl text-secondary" *ngIf="recordsTotal">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Students.Theses'"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4">
    <app-advanced-table [selectable]="false" #model [showFooter]="false" (load)="onDataLoad($event)" [height]="600"></app-advanced-table>
  </div>
</div>
<router-modal></router-modal>
