<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="courses" [searchState]="'/study-programs/specialization/courses'">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
            [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row" *ngIf="studyProgramReplacementRule">
    <div class="mt-3 col-12">
      <h4>
        {{studyProgramReplacementRule.name}}
      </h4>
      <div [translate]="'StudyPrograms.Replacements.CourseRulesHelp'">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-auto pt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Courses.Title'"></span><span
          class="font-xl text-secondary"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Courses.TitleSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <!-- Export button -->
      <div class="pull-right ml-auto mr-3 mt-3">
        <div class="font-lg btn-toolbar mt-3">
          <a *ngIf="this.courses && this.courses.selected && this.courses.selected.length"
             class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="remove()">
            <span>-</span><span>&nbsp;</span><span [translate]="'StudyPrograms.Remove'"></span>
          </a>
          <a class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
            <span>+</span><span>&nbsp;</span><span [translate]="'StudyPrograms.AddCourses'"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table [selectable]="false" #courses [columnOrdering]="true" [height]="600"
                          (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
