<div class="container">
    <h4>Advanced Router Modals</h4>
    <p>RouterModalModule uses angular router outlets in order to show modal components based on a route defined in application routes.</p>
    <div class="mt-3 col-lg-12 row mb-3">
        <a class="ml-2 btn btn-primary" href="#"
           [routerLink]="[{ outlets: { modal: ['/users', 100, 'edit'] } }]">Show a modal with form</a>
    </div>
    <p>
        This example implements the validation of an angular form in a router modal component.
        OK button is disabled while form is invalid. ok() and cancel() methods are used for executing something.
    </p>
    <div>
        <app-highlight-include [highlight]="'app/router-modals/modal-edit-form.component.ts'"></app-highlight-include>
    </div>
    <div class="mt-3 col-lg-12 row mb-3">
        <a class="ml-2 btn btn-primary" href="#"
           [routerLink]="[{ outlets: { modal: ['/users', 100, 'form', 'edit'] } }]">Show and validate a form.io form</a>
    </div>
    <p>
        This example shows a form.io and uses form validation inside a router modal component.
        OK button is disabled while form is invalid. ok() and cancel() methods are used for executing something.
    </p>
    <div>
        <app-highlight-include [highlight]="'app/router-modals/edit-form1.component.ts'"></app-highlight-include>
    </div>
</div>
<router-modal></router-modal>
